<!DOCTYPE HTML>
<html lang="ja-JP">
<head prefix="og: http://ogp.me/ns#">
  <%- include('./assets/component/_meta', {param: {title: 'hoge'}}) %>
</head>
<body>
  <!-- Facebook SDK -->
  <div id="fb-root"></div>
  <script>
  (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
  </script>

  <noscript>
    <div class="noscript">このWebサイトの全ての機能を利用するためにはJavaScriptを有効にする必要があります。</div>
  </noscript>

  <!-- contents -->
  <%- include('./assets/component/_component1') %>
  <%= data.path %>
  
  <script type="text/javascript" src="js/index.js"></script>
</body>
</html>